[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Test
[access "refs/*"]
	owner = group user/shingchuang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shingchuang
	label-Verified = -1..+1 group user/shingchuang
	push = group user/shingchuang
	read = group user/shingchuang
	rebase = group user/shingchuang
	removeReviewer = group user/shingchuang
	submit = group user/shingchuang
[access "refs/heads/*"]
	create = group user/shingchuang
	push = +force group user/shingchuang
	pushMerge = group user/shingchuang
	read = group user/shingchuang
[access "refs/tags/*"]
	push = group user/shingchuang
	push = +force group user/shingchuang
